:root{
    --primary-color: #D7F7F5;
    --secondary-color: #ebf8f7;
    --tertiary-color: #272626;
    --cuartiary-color: #eccccc;
    --max-width: 1700px;
    --padding: 8px;
    --margin: 10px;
    --border-radius: 30px;
    --transition: 1s;
    --font-size: 16px;
    --h1: 6.5rem;
    --p: 2.0rem;
    --spacing: 50px;
}
body{
    background: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(62deg, #d7f7f585 0%, #d7f7f5a1 100%) , url(imagenes/fondo_registro.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--padding);
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 var(--padding);
    font-size: var(--p);
    justify-content: center;
}
h1{
    font-size: var(--h1);
}
p{
    font-size: var(--p);
    text-align: center;
}
.contenido h1, p{
    margin-bottom: var(--spacing);
    color: var(--tertiary-color);
}
form{
    max-width: 450px;
    width: 560px;
    margin: 0 auto;
    background-color:var(--secondary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px
}
input , select{
    padding: 12px;
    border: 1px solid #cecece;
    border-radius: 8px;
    outline: none;
}
label {
    font-size: var(--font-size);
}
button{
    width: 30%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: -14px;
}
.login-link p , a{
    font-size: var(--font-size);
    text-decoration: none;
}
.error{
    border: solid 1px #e01919;
}
.correcto{
    border: solid 1px #5dc52d;
}
